<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"
    integrity="sha256-srhz/t0GOrmVGZryG24MVDyFDYZpvUH2+dnJ8FbpGi0=" crossorigin="anonymous"></script>



<style>

body {
  transition: all 0.3s ease;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: red;
  margin: 50px;
}
.prescription_form {
  width: 100%;
  height: 100vh;

  background: white;
}
.prescription {
  width: 720px;
  height: 960px;
  margin: 0 auto;
  border: 1px solid rgb(100, 88, 88);
}
.prescription tr > td {
  padding: 15px;
}
.header {
  color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex: 1;
}
.logo img {
  width: 120px;
  height: 120px;
  float: left;
}
.credentials {
  flex: 1;
}
.credentials h4 {
  line-height: 1em;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
.credentials p {
  margin: 0 0 5px 0;
  padding: 3px 0px;
}
.credentials small {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  padding-right: 80px;
}
.d-header {
  width: 100%;
  text-align: center;
  background: mediumseagreen;
  padding: 5px;
  color: white;
  font-weight: 800;
}
.symptoms,
.tests,
.advice {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.symptoms ul,
.tests ul {
  list-style: square;
  margin: 0;
  padding-left: 10px;
  height: 100%;
}
.advice p {
  letter-spacing: 0;
  font-size: 14px;
}
.advice .adv_text {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.desease_details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.med_name {
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}
.taking_time {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}
.schedual {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sc_time {
  margin: 0;
  padding: 0;
  float: left;
}
.sc_time span {
  font-weight: bold;
  margin-right: 1rem;
}
.sc {
  border: none;
  outline: none;
  font-size: 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}
select::-ms-expand {
  display: none;
}
.select {
  font-size: 15px;
  color: #335;
  position: relative;
  float: left;
  overflow: hidden;
}
select {
  font-weight: bold;
  padding: 0 0.5em;
  color: #333;
  cursor: pointer;
  outline: none;
}
.med_name {
  border: 0;
  outline: 0;
}
.period {
  font-size: 14px;
}
input[type="date"] {
  padding: 0;
  margin: 0;
  font-weight: bold;
  border: none;
}
.medicine {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.med_name_action,
.med_when_action,
.med_period_action {
  display: none;
}
.med_meal_action .btn {
  margin: 2px;
}
.med_period {
  border: none;
  outline: none;
}
#add_med {
  margin: 20px 5px;
  flex-grow: 1;
}
#add_med {
  animation: shake 1.5s linear infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  95% {
    opacity: 0;
  }
}

#add_symptoms {
  margin: 20px 5px;
  flex-grow: 1;
  opacity: 1;
}
.symp_action,
.test_action,
.adv_action {
  display: none;
}
.med_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
hr {
  margin: 10px 0px;
}
.med:hover hr {
  border-top: 3px #111 solid;
}
.med_period_action {
  float: right;
}
span.date {
  color: #333399;
  float: right;
  clear: both;
}
.del_action {
  width: 100%;
  text-align: right;
}
.delete {
  width: 50px;
  opacity: 0;
  display: none;
}
.med:hover .delete {
  display: inline;
  opacity: 1;
}
.folded {
  visibility: hidden;
}
.button_group {
    position: fixed;
    right: 120px;
    bottom: 100px;
}
#snacking, #snacked {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snacking.show, #snacked.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#patientProfileNavColor{
    background-color: #4faafd;
}

#navText{
    margin-left: 320px;
}

#navDiv{
    margin-left: 220px;
}

#credentialsDet{
    margin-top: 52px;
}

</style>



  </head>
  <body>

<div class="col-md-9 mb-5" id="navDiv">
<nav aria-label="breadcrumb" class="main-breadcrumb ">
            <ol class="breadcrumb " id="patientProfileNavColor">
              <h2 class="font-weight-bold pb-3 text-light" id="navText">Doctor Prescription</h2>
            </ol>
</nav>
</div>



<div class="wrapper">
    <div class="prescription_form">
        <table class="prescription" data-prescription_id="<?php echo $presc->prescription_id; ?>" border="1">
            <tbody>
                <tr height="15%">
                    <td colspan="2">
                        <div class="header">
                            <div class="logo">
                                <img
                                    src="https://seeklogo.com/images/H/hospital-clinic-plus-logo-7916383C7A-seeklogo.com.png" />
                            </div>
                            <div class="credentials">
                                <h3 class="text-danger text-center font-weight-bold">{{PatientData.[0].appoinmentForm.hospitalName}}</h3>
                                <p class="font-weight-bold">Doctor Name:{{PatientData.[0].appoinmentForm.doctorName}}</p>
                                <small>Department:{{PatientData.[0].appoinmentForm.department}}</small>
                                <br />
                                <small>Date:{{PatientData.[0].appoinmentForm.selctedDate}}</small>
                            </div>

                            <div class="credentials" id="credentialsDet">
                                {{!-- <h3 class="text-danger text-center">{{PatientData.[0].appoinmentForm.hospitalName}}</h3> --}}
                                <p class="font-weight-bold">Patient Name:{{PatientData.[0].name}}</p>
                                <small>Phone No:{{PatientData.[0].phoneNumber}}</small>
                                <br />
                                <small>Age:{{PatientData.[0].age}}</small>
                            </div>


                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="40%">

<form action="/doctor/prescriptionDet" method="post">


                        <div class="desease_details">
                            <div class="symptoms">
                                <h4 class="d-header">Symptoms</h4>
                                
                              <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-12">
                                <label class="small mb-1" for="inputFirstName">Symptoms 1 </label>
                                <input class="form-control" id="inputFirstName" name="Symptoms1" type="text"  value="{{UserDet.[0].name}}">
                            </div>
                            <div class="col-md-12">
                                <label class="small mb-1" for="inputFirstName">Symptoms 2 </label>
                                <input class="form-control" id="inputFirstName" name="Symptoms2" type="text"  value="{{UserDet.[0].name}}">
                            </div>
                            <div class="col-md-12">
                                <label class="small mb-1" for="inputFirstName">Symptoms 3 </label>
                                <input class="form-control" id="inputFirstName" name="Symptoms3" type="text"  value="{{UserDet.[0].name}}">
                            </div>
                            
                        </div>
                            
                            </div>
                            <div class="tests">
                                <h4 class="d-header">Tests</h4>
                                  <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-12">
                                <label class="small mb-1" for="inputFirstName">Test 1 </label>
                                <input class="form-control" id="inputFirstName" name="Test1" type="text"  value="{{UserDet.[0].name}}">
                            </div>
                            <div class="col-md-12">
                                <label class="small mb-1" for="inputFirstName">Test 2 </label>
                                <input class="form-control" id="inputFirstName" name="Test2" type="text"  value="{{UserDet.[0].name}}">
                            </div>
                            <div class="col-md-12">
                                <label class="small mb-1" for="inputFirstName">Test 3 </label>
                                <input class="form-control" id="inputFirstName" name="Test3" type="text"  value="{{UserDet.[0].name}}">
                            </div>
                            
                        </div>
                            </div>
                            <div class="advice">
                                <h4 class="d-header">Advice</h4>
                                  <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-12">
                                <label class="small mb-1" for="inputFirstName">Advice</label>
                                <input class="form-control" id="inputFirstName" name="Advice" type="text"  value="{{UserDet.[0].name}}">
                            </div>
                           
                            
                        </div>
                            </div>
                        </div>
                    </td>
                    <td width="60%" valign="top">
                        <h3>Medicine Details</h3>
                        {{!-- <span style="font-size: 3em;">R<sub>x</sub></span> --}}
                        <hr />
                        <div class="medicine">



                          <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-9">
                                <label class="small mb-1" for="inputFirstName">Medicine 1 </label>
                                <input class="form-control" id="inputFirstName" name="Medicine1" type="text"  value="">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-3">
                                <label class="small mb-1" for="inputEmailAddress">No: Of Dose</label>
                            <input class="form-control" id="inputEmailAddress" type="text" name="Medicine1Dose" value="">
                            </div>
                        </div>

                         <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-9">
                                <label class="small mb-1" for="inputFirstName">Medicine 2 </label>
                                <input class="form-control" id="inputFirstName" name="Medicine2" type="text"  value="{{UserDet.[0].name}}">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-3">
                                <label class="small mb-1" for="inputEmailAddress">No: Of Dose</label>
                            <input class="form-control" id="inputEmailAddress" type="text" name="Medicine2Dose" value="{{UserDet.[0].email}}">
                            </div>
                        </div>

                         <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-9">
                                <label class="small mb-1" for="inputFirstName">Medicine 3 </label>
                                <input class="form-control" id="inputFirstName" name="Medicine3" type="text"  value="{{UserDet.[0].name}}">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-3">
                                <label class="small mb-1" for="inputEmailAddress">No: Of Dose</label>
                            <input class="form-control" id="inputEmailAddress" type="text" name="Medicine3Dose" value="{{UserDet.[0].email}}">
                            </div>
                        </div>

                         <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-9">
                                <label class="small mb-1" for="inputFirstName">Medicine 4 </label>
                                <input class="form-control" id="inputFirstName" name="Medicine4" type="text"  value="{{UserDet.[0].name}}">
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-3">
                                <label class="small mb-1" for="inputEmailAddress">No: Of Dose</label>
                            <input class="form-control" id="inputEmailAddress" type="text" name="Medicine4Dose" value="{{UserDet.[0].email}}">
                            </div>
                        </div>

                         <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-9">
                                <label class="small mb-1" for="inputFirstName">Medicine 5 </label>
                                <input class="form-control" id="inputFirstName" name="Medicine5" type="text"  value="{{UserDet.[0].name}}">
                                <input type="text" name="userId" value="{{PatientData.[0]._id}}" hidden>
                                <input type="text" name="time" value="{{PatientData.[0].appoinmentForm.time}}" hidden>
                                <input type="text" name="selctedDate" value="{{PatientData.[0].appoinmentForm.selctedDate}}" hidden>
                                <input type="text" name="hospitalName" value="{{PatientData.[0].appoinmentForm.hospitalName}}" hidden>
                                <input type="text" name="department" value="{{PatientData.[0].appoinmentForm.department}}" hidden>
                                <input type="text" name="doctorName" value="{{PatientData.[0].appoinmentForm.doctorName}}" hidden>


                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-3">
                                <label class="small mb-1" for="inputEmailAddress">No: Of Dose</label>
                            <input class="form-control" id="inputEmailAddress" type="text" name="Medicine5Dose" value="{{UserDet.[0].email}}">
                            </div>
                        </div>




                            <section class="med_list">
                            </section>
                            {{!-- <div id="add_med" data-toggle="tooltip" data-placement="right"
                                title="Click anywhere on the blank space to add more.">Click to add...</div>
                        </div> --}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="button_group">
            <button class="issue_prescription btn btn-success" type="submit" >Issue</button>
            <!-- <button class="pdf_prescription btn btn-danger">PDF</button> -->
        </div>
        <div id="snacking">Saving...</div>
        <div id="snacked">Saved!</div>
    </div>
</div>



</form>





<script>



$(document).ready(function() {
	Date.prototype.calcDate = function(days) {
		let date = new Date(this.valueOf());
		date.setDate(date.getDate() + days);
		return `(Untill ${date.getUTCDate()}-${date.getUTCMonth() +
			1}-${date.getUTCFullYear()})`;
	};
  let timeout;
	function snackSaving() {
		let snack = document.getElementById("snacking");
		snack.className = "show";
    timeout = setTimeout(() => {
      alert('ERR: Conection timeout.')
    }, 8000);
	}
	function snackSaved() {
    clearTimeout(timeout);
		let snack = document.getElementById("snacking");
		snack.className = snack.className.replace("show", "");
		let snacked = document.getElementById("snacked");
		snacked.className = "show";
		setTimeout(function() {
			snacked.className = snacked.className.replace("show", "");
		}, 1500);
	}
	$("[data-toggle=tooltip]").tooltip("show");
	setTimeout(function() {
		$("[data-toggle=tooltip]").tooltip("hide");
	}, 5000); //hide tooltips after 5sec
	$(document).keyup(function() {
		$("[data-toggle=tooltip]").tooltip("hide");
	}); //hide tooltip while typing
	$(document).on("focusin keypress", ".med_name", function(e) {
		let x = $(this).siblings("div.med_name_action");
		if (e.type == "focusin") {
			x.css("display", "block");
		}
		if (e.type == "keypress") {
			if (e.keyCode == 13) x.children("button.save").click();
		}
	});

	$(document).on("click", ".cancel-btn", function() {
		$(this)
			.parent()
			.css("display", "none"); //hides save/cancel btn
	});
	$(document).on("click", ".med_name_action button.save", function() {
		$(this)
			.parent()
			.css("display", "none");
		$(".sc_time").removeClass("folded");
	});
	$(".med_name").keypress(function(e) {
		if (e.which == 13) {
			$("#symp_save").click();
		}
	});

	$(document).on("mousedown", ".sc", function(e) {
		let x = $(this).siblings("div.med_when_action");
		x.css("display", "block");
	});
	$(document).on("click", ".med_when_action button.save", function() {
		$(this)
			.parent()
			.css("display", "none");
		$(".select").removeClass("folded");
	});
	$("select.sc").change(function() {
		let x = $(this).siblings("div.med_when_action");
		x.css("display", "none");
	});

	$(document).on("mousedown", ".meal", function() {
		let x = $(this).siblings("div.med_meal_action");
		x.css("display", "block");
	});
	$(document).on("click", ".med_meal_action button.save", function() {
		$(this)
			.parent()
			.css("display", "none");
		$(".period").removeClass("folded");
	});

	$(document).on("focusin keypress", ".med_period", function(e) {
		let x = $(this).siblings("div.med_period_action");
		if (e.type == "focusin") {
			x.css("display", "block");
		}
		if (e.type == "keypress") {
			if (e.keyCode == 13) x.children("button.save").click();
		}
	});
	$(document).on("click", ".med_period_action button.save", function() {
		$(this)
			.parent()
			.css("display", "none");
	});
	$(document).on("keyup", ".med_period", function() {
		let period = $(this).val();
		let num = +period.match(/\d+/g)[0];
		let type = period.match(/\b(\w)/g)[1];
		let days = null;
		if (type == "d") days = num;
		else if (type == "w") days = num * 7;
		else if (type == "m") days = num * 30;
		else if (type == "y") days = num * 365;
		let span = $(this).siblings("span.date");
		if (days) {
			let date = new Date().calcDate(days);
			span.html(date);
		} else {
			span.html("(Invalid time period)");
		}
	});

	$(".sc").keyup(function(e) {
		if (isNaN(e.key)) return;
		let el = $(this);
		el = el
			.val()
			.split("-")
			.join("");
		let finalVal = el.match(/.{1,1}/g).join("-");
		$(this).val(finalVal);
	});
	function initLi(e) {
		let txt = e.target.innerHTML;
		if (!txt.includes("<li>")) {
			let el = "<li></li>";
			$(this).append(el);
		}
	}
	$(".symptoms ul").focusin(initLi);
	$(".symptoms ul").keyup(function(e) {
		let fl = $(this)
			.children()
			.first();
		let el = `<li>${e.target.textContent}</li>`;
		if (fl.text().length < 1) {
			$(this).html("");
			$(this).append(el);
		}
	});
	$("#symp_save").click(function() {
		$(".symp_action").css("display", "none");
	});

	$(".tests ul").focusin(initLi);
	$(".tests ul").keyup(function() {
		let fl = $(this)
			.children()
			.first();
		let el = "<li></li>";
		if (fl.text().length < 1) {
			$(this).html("");
			$(this).append(el);
		}
	});
	$("#test_save").click(function() {
		$(".test_action").css("display", "none");
	});

	$(".symptoms ul").focusin(function() {
		$(".symp_action").css("display", "block");
	});

	$(".tests ul").focusin(function() {
		$(".test_action").css("display", "block");
	});

	$(".advice p").focusin(function() {
		$(".adv_action").css("display", "block");
	});

	$("#adv_save").click(function() {
		$(".adv_action").css("display", "none");
	});
	
	$(document).on("click", ".delete", function() {
		let parent = $(this).closest(".med");
		parent.remove();
	});
	
	let med_id = 1;
	$("#add_med").click(function() {
		med_id++;
		let sourceTemplate = $("#new_medicine").html();
		Mustache.parse(sourceTemplate);
		let sourceHTML = Mustache.render(sourceTemplate, { med_id });
		let medicine = $(".med_list");
		medicine.append(sourceHTML);
	})
});


</script>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>